html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.heroBox {
  min-height: 1100px;
  overflow: hidden;
  position: relative;
  background-color: #FBFBFC;
}

.heroBackground {
  position: absolute;
  width: 100%;
  height: 75%;
  background-image: linear-gradient(#04162B, #1D406A);
  transform: skewY(-6deg);
  transform-origin: top left;
}

.heroContent {
  position: relative;
}

.mainContent {
  max-width: 1600px;

}

