html,
body {
  padding: 0;
  margin: 0;
  background-color: #333333;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.heroBox {
  min-height: 1000px;
  overflow: hidden;
  position: relative;
  background-color: #FBFBFC;
}

.heroBackground {
  position: absolute;
  width: 100%;
  height: 80%;
  background-image: linear-gradient(#111111, #244D7C);
  transform: skewY(-6deg);
  transform-origin: top left;
}

.heroContent {
  position: relative;
}

.mainContent {
  max-width: 1600px;
}

.mainHeadlineLarge {
  margin-top: 130px;
  margin-left: 140px;
  margin-bottom: 80px;
}

.mainHeadlineSmall {
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 50px;
}

