html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

/*main {*/
/*  flex: 1;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: flex-start;*/
/*  align-items: center;*/
/*}*/

/*code {*/
/*  background: #fafafa;*/
/*  border-radius: 5px;*/
/*  padding: 0.75rem;*/
/*  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;*/
/*}*/

/*.container {*/
/*  height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

.heroBox {
  /*background-color: #04162B;*/
  min-height: 50em;
  overflow: hidden;
  position: relative;
}

.heroBackground {
  position: absolute;
  width: 100%;
  height: 70%;
  background-image: linear-gradient(#04162B, #132D4C);
  transform: skewY(-6deg);
  transform-origin: top left;
}

.heroContent {
  position: relative;
}

